.question-data{

    margin: 10px;
    border: 2px solid gray;
    background-color:whitesmoke;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 7px;
    border-radius: 7px;
   
}
.question p {
    display: block;
    text-align: center;
    background-color: beige;
    color: black;
    margin: 5px;
     font-weight: bold;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
   
}
.green{
    background-color: green;
}
